@font-face {
  font-family: 'pokemon-solid';
  src: url(fonts/Pokemon\ Solid.ttf);
}

@font-face {
  font-family: 'pokemon-border';
  src: url(fonts/Pokemon\ Hollow.ttf);
}

@font-face {
  font-family: 'calculator';
  src: url(fonts/Calculator.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.9);
  border-bottom: 5px groove red;
}

nav a {
  color: white;
}

nav a:hover {
  border-bottom: 1px solid white;
}

main {
  display: flex;
  justify-content: center;
  background-image: url(images/pokemon-background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

footer {
  background-color: darkorange;
  height: 90px;
}

#nav-container,
#footer-container {
  display: flex;
  max-width: 900px;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

#nav-logo {
  background-image: url(./images/pokedex-title.png);
  height: 60px;
  width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

ul#nav-links {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

#footer-authors {
  display: flex;
  flex-wrap: wrap;
}

#footer-authors h3,
#footer-api h3 {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

#author1,
#author2 {
  width: 50%;
  background-color: #e0e0e0dd;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

#footer-authors h4 {
  font-size: 14px;
  font-weight: 300;
  width: 100%;
}

#footer-api {
  display: flex;
  flex-wrap: wrap;
}

#api-logo {
  background-image: url(./images/pokeapi.png);
  height: 60px;
  width: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#pokemon-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
  padding: 50px;
  max-width: 900px;
}

#pokemon-container.hide {
  display: none;
}

#pokedex-container.hide {
  display: none;
}

#pokeball-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: white;
  height: calc(100vh - 150px);
  background-color: green;
  width: 100%;
}

#pokeball-container.hide {
  display: none;
}

.pokemon {
  cursor: pointer;
  grid-column: span 4;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  background-image: radial-gradient(rgba(230, 212, 46, 0.466), rgba(32, 10, 141, 0.294));
  border: 2px solid transparent;
}

.pokemon:hover {
  border: 2px solid black;
}

.pokemon-img {
  width: 60%;
  height: 60%;
  max-height: 250px;
}

.pokemon-name {
  width: 90%;
  text-align: center;
}

.pokemon-likes {
  width: 90%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pokemon-likes span {
  cursor: pointer;
}

.heart-likes {
  filter: saturate(0);
}

.comment-button {
  background-color: #464b50;
  color: white;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: -1px 2px 0 black, -4px 6px 0 #00000039;
  cursor: pointer;
  width: 60%;
  height: 30px;
}

.comment-button:active {
  background-color: #72767a;
  transform: scale(0.9);
}

.modal-container {
  background-color: #0000004d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.modal-container.show-modal {
  display: flex;
}

.modal {
  background-color: white;
  height: 70%;
  max-height: 700px;
  width: 60%;
  max-width: 700px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
}

.poke-img-modal {
  width: 50%;
  height: auto;
  margin: 0 20%;
}

.modal h3 {
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  width: 80%;
  text-align: center;
}

.modal-types {
  width: 27%;
  margin: 10px 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-types p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background-color: #fecd30;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 3px;
}

.comments-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: 25%;
}

.comments-form input {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #00000039;
}

.comments-form textarea {
  width: 100%;
  height: 50px;
  padding-top: 3px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #00000039;
}

.comments-form button {
  background-color: #464b50;
  color: white;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: -1px 2px 0 black, -4px 6px 0 #00000039;
  cursor: pointer;
  width: 60%;
  height: 30px;
}

/* ------ POKEDÉX SECTION ------ */

#pokedex-container {
  padding: 1%;
  font-size: 5em;
  color: white;
  height: calc(100vh - 150px);
  background-image: url(images/main-backgroun-day.jpg);
  background-size: cover;
  background-position: 100% 50%;
  width: 100%;
  position: relative;
  animation: background-night-day 45s infinite;
}

.pokedextesting {
  width: 50px;
  height: 50px;
}

#pokemon-container.reduce-grid {
  grid-template-columns: 1fr;
  overflow-y: auto;
  height: calc(100vh - 150px);
}

.pokedex-box-image {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(images/pokedex-full.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.microverse-title-border {
  font-family: 'pokemon-border', sans-serif;
  font-size: 110%;
  position: absolute;
  right: 5%;
  top: -10%;
  color: rgb(10, 10, 105);
  z-index: 1;
  text-shadow: -3px 3px rgb(3, 3, 51);
}

.microverse-title-solid {
  font-family: 'pokemon-solid', sans-serif;
  font-size: 110%;
  position: absolute;
  right: 5%;
  top: -10%;
  color: #fecd30;
}

@keyframes background-night-day {
  0% {
    background-image: url(images/main-backgroun-day.jpg);
  }

  50% {
    background-image: url(images/main-background-night.jpg);
  }

  100% {
    background-image: url(images/main-backgroun-day.jpg);
  }
}

@media screen and (max-width: 1024px) {
  .microverse-title-solid {
    font-size: 90%;
    top: -5%;
  }

  .microverse-title-border {
    top: -5%;
    font-size: 90%;
  }
}

@media screen and (max-width: 768px) {
  #pokemon-container {
    grid-template-columns: repeat(12, 1fr);
  }

  .pokemon {
    grid-column: span 6;
  }

  #pokemon-container.reduce-grid {
    display: none;
  }

  .microverse-title-solid {
    display: none;
  }

  .microverse-title-border {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #pokemon-container {
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
  }

  .pokemon {
    grid-column: span 12;
  }

  .pokedex-box-image {
    background-image: url(images/pokedex-mobile.png);
  }
}
