@font-face {
  font-family: 'pokemon-solid';
  src: url(fonts/Pokemon\ Solid.ttf);
}

@font-face {
  font-family: 'pokemon-border';
  src: url(fonts/Pokemon\ Hollow.ttf);
}

@font-face {
  font-family: 'calculator';
  src: url(fonts/Calculator.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fecd30;
}

main {
  display: flex;
  justify-content: center;
  background-image: url(images/pokemon-background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

footer {
  background-color: darkorange;
  height: 90px;
}

#nav-container,
#footer-container {
  display: flex;
  max-width: 900px;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

#nav-logo {
  background-image: url(./images/pokedex-title.png);
  height: 60px;
  width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

ul#nav-links {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

#footer-authors {
  display: flex;
  flex-wrap: wrap;
}

#footer-authors h3,
#footer-api h3 {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

#author1,
#author2 {
  width: 50%;
  background-color: #e0e0e0dd;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

#footer-authors h4 {
  font-size: 14px;
  font-weight: 300;
  width: 100%;
}

#footer-api {
  display: flex;
  flex-wrap: wrap;
}

#api-logo {
  background-image: url(./images/pokeapi.png);
  height: 60px;
  width: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#pokemon-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
  padding: 50px;
  max-width: 900px;
}

#pokemon-container.hide {
  display: none;
}

#pokedex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: white;
  height: calc(100vh - 150px);
  background-color: red;
  width: 100%;
}

#pokedex-container.hide {
  display: none;
}

#pokeball-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: white;
  height: calc(100vh - 150px);
  background-color: green;
  width: 100%;
}

#pokeball-container.hide {
  display: none;
}

.pokemon {
  grid-column: span 4;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  background-image: radial-gradient(rgba(230, 212, 46, 0.466), rgba(32, 10, 141, 0.294));
}

.pokemon-img {
  width: 60%;
  height: 60%;
  max-height: 250px;
}

.pokemon-name {
  width: 90%;
  text-align: center;
}

.pokemon-likes {
  width: 90%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pokemon-likes span {
  cursor: pointer;
}

.comment-button {
  background-color: #464b50;
  color: white;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: -1px 2px 0 black, -4px 6px 0 #00000039;
  cursor: pointer;
  width: 60%;
  height: 30px;
}

.comment-button:active {
  background-color: #72767a;
  transform: scale(0.9);
}

.modal-container {
  background-color: rgb(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.modal-container.show-modal {
  display: flex;
}

.modal {
  background-color: white;
  height: 500px;
  width: 500px;
  border-radius: 25px;
}

.poke-img-modal {
  width: 50%;
}

@media screen and (max-width: 768px) {
  #pokemon-container {
    grid-template-columns: repeat(12, 1fr);
  }

  .pokemon {
    grid-column: span 6;
  }
}
